<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="description" content="{{ site.description }}">

  <!-- Facebook open graph -->
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://{{ site.basedomain }}" />
  <meta property="og:image" content="http://{{ site.basedomain }}/assets/images/og-img.png" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:keywords" content="{{ site.keywords }}" />

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:creator" content="@">
  <meta name="twitter:image" content="{{ site.baseurl_root }}/assets/images/og-img.png">


  {% if site.lang == "en" %}
    <title>{{ site.title }}{% if page.title_tab_en %} | {{ page.title_tab_en }}{% endif %}</title>
  {% elsif site.lang == "es" %}
    <title>{{ site.title }}{% if page.title_tab_es %} | {{ page.title_tab_es }}{% endif %}</title>
  {% elsif site.lang == "fr" %}
    <title>{{ site.title }}{% if page.title_tab_fr %} | {{ page.title_tab_fr }}{% endif %}</title>
  {% endif %}

  <link rel="canonical" href="{{ site.baseurl_root }}" />
  <link rel="shortcut icon" href="{{ site.baseurl_root }}/assets/images/favicon.ico">

  <!-- Uikit -->
  <link rel="stylesheet" href="{{ site.baseurl_root }}/assets/uikit/css/uikit.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />
  <!-- css -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Viga&display=swap" rel="stylesheet">
  <!-- js -->
  <script src="{{ site.baseurl_root }}/assets/uikit/js/uikit.min.js"></script>
  <script src="{{ site.baseurl_root }}/assets/uikit/js/uikit-icons.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}

  <script>
    UIkit.scrollspy(element, options);
    UIkit.scroll(element, options).scrollTo(el);
    UIkit.scroll(element).scrollTo(el);
    UIkit.modal(element, options);
    UIkit.slideshow(element, options);
    UIkit.slider(element).startAutoplay();
  </script>

</head>
