@media only screen and (max-width: 991px) {
  h1{
    font-size: 1.6rem;
  }
  h2{
    font-size: 1.2rem;
  }
  h3{
    font-size: 1rem;
    margin-bottom: -10px;
  }
  h4{
    font-size: 0.9rem;
  }
  h5{
    font-size: 0.8rem;
  }
  body{
    font-size: 0.8rem;
    line-height: 1.7;
  }
  .uk-accordion-title {
    font-size: 1rem;
  }
  .uk-button{
   font-size: 0.65rem;
  }
  .font-number-xl {
      font-size: 3rem;
  }
  .card-height{
    min-height: 260px;
  }
  .welcome-home-title span {
    background-image: linear-gradient(180deg, transparent 65%, white 0);
    background-size: 100% 220%;
    background-repeat: no-repeat;
    color: #08141A;
    background-position-y: -47px;
  }
  .welcome-home-subtitle{
    font-size: 1rem;
    margin: 10px 0 30px;
  }
  /**
   * Navbar
   */

  .uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle, li.uk-active > a{
    color: $black-soft;
    &:hover{
      color: $green;
    }
  }

  .uk-offcanvas-bar{
    background: white;
    font-size: 0.8rem;
    a{
      color: $black-soft;
      &:hover, &:focus{
        color: $blue;
        text-decoration: none;
      }
    }
    hr{
      border-top-color: $grey;
      border-top: 1px solid $grey;
    }
    .uk-close{
      color: $grey;
      &:hover, &:focus{
        color: $grey;
      }
    }
  }

  .logo-navbar>svg{
    width: 90%;
  }
  /**
   * Hero
   */

   #hero > .uk-height-viewport{
      min-height: 80vh;
   }
  .icon-hero>svg{
      width: 8%;
  }
  .logo-giescr{
    width: 60%;
  }
  .logo-osf{
    width: 27%;
  }
  /**
   * Cards
   */
  .featured-news{
    margin: -10px 0 -20px;
  }

}
