@charset "utf-8";

// Define defaults for each variable.
$base-font-family: 'Poppins', sans-serif !default;
$title-font-family: 'Viga', sans-serif !default;
$base-font-size:   0.9rem !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.9 !default;

$spacing-unit:     30px !default;


// Basic colors
$green:         #51CB7B;
$blue:          #56CEDD;

// Blacks and greys
$black:              #08141A;
$black-soft:         #263238;
$grey:               #8A969C;
$grey-soft:          #F4F9F9;

// Project colors

$text-color:           $black-soft !default;
$background-color:     white !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "project/base",
  "project/media",
  "project/fonts",
  "project/layout"
;
